@page
@model PRN221_Lab2.Pages.Shop.ProductDetailsModel
@{
}
<h1>Details</h1>
<div class="container">
    <h4>Product ID: @Model.Product.ProductId</h4>
    <h4>Product Name: @Model.Product.ProductName</h4>
    <h4>Unit In Stock: @Model.Product.UnitsInStock</h4>
    <h4>Unit Price: @Model.Product.UnitPrice</h4>
</div>
